.body{background-color: aquamarine;
    text-align: center;
    height: max-content;
    width: max-content;
    position:absolute;
    top: 30%;
    left: 60%;
    padding: 30px;
    border-style:ridge;
    border-radius: 25px;
    text-shadow: 0px 0px 4px;
    box-shadow: 0px 2px 30px;
    }
    form{
        line-height: 40px;
    }
    
    button{
        background-color:inherit;
        border-style:ridge;
        border-radius: 25px;
        text-shadow: 0px 0px 0.8px;
        box-shadow: 0px 0px 3px;
    }
    button:hover{
        background-color: burlywood;
        color: brown;
        zoom: 120%;
    
    }
    input{
        border-style: none;
        background-color: inherit;
        border-bottom-style: dashed;
    }